*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(0,0,255,0.5);
    background-image: url(../img/pattern.png);
    background-size: contain;
}

h1{
    font-size: 40px;
}

h4{
    color: grey;
    margin-bottom: 10px;
}

h5{
    color: white;
    margin-bottom: 10px;
}

table{
    border-collapse: collapse;
    text-align: left;
    border: 2px solid black;
}

th{
    background-color: rgb(245, 148, 92);
    color: white;
}

.container{
    width: 1030px;
    margin: 0px auto;
    margin-bottom: 10px;
}

.writer-link{
    color: rgb(10, 159, 159);
}

.highlight-yellow{
    background-color: yellow;
}

.header-logo{
    width: 20%;
    padding-top: 30px;
}

.fixed-width{
    width: 180px;
}

.font-size{
    font-size:small;
}

.bgsize{
    background-size: 15%;
    background-repeat: no-repeat;
    height: 100px;
    padding-left: 10px;
}

.row-2{
    background-color:red ;
}

.row-4{
    background-color:red ;
}

.wider{
    width: 30%;
}

#list{
    margin: 20px;
}

#bg-color{
    background-color: purple;
}

#top-margin{
    margin-top: 20px;
}

#img1{
    background-image: url(../img/monitor.jpg);
}

#img2{
    background-image: url(../img/graph.jpg);
}